# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
/staticfiles/

# Secrets / local env
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
